/* =========================
   Admin Dashboard
========================= */

.dashboard-card {
    border-radius: 12px;
    background: #ffffff;
    padding: 25px;
    transition: 0.3s ease;
}

    .dashboard-card h6 {
        color: #64748b;
        font-size: 14px;
        margin-bottom: 10px;
    }

    .dashboard-card h3 {
        font-weight: 700;
        margin: 0;
    }

    .dashboard-card:hover {
        transform: translateY(-4px);
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    }

.dashboard-title {
    font-weight: 700;
    margin-bottom: 25px;
}
